// Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
// Constants
$orange: hsl(6, 92%, 64%);
$grey: hsl(198, 47%, 18%);
// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1.5rem 3rem;
  font-family: 'Raleway', sans-serif;
}
li {
  list-style: none;
}
main {
  border: 3px solid #000;
  padding: 3rem;
}
// Utils
.btn {
  padding: 0.9rem 2rem;
  background: $orange;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #fff;
  box-shadow: 0 0 0 $grey;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 0.5rem 0.5rem 0 $grey;
  }
}
.card {
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 1rem 1rem 0 $orange, 1rem 1rem 0 2px #000;
  .image {
    width: 500px;
  }
  .about {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    font-weight: 700;
    font-size: 1.3rem;
    .price {
      color: $orange;
    }
  }
}
// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2rem 0;
  .container {
    display: flex;
    align-items: center;
    &.gap {
      gap: 1.5rem;
    }
  }
  .title {
    font-size: 1.7rem;
  }
  .icon {
    transform: translateY(-3px);
    cursor: pointer;
  }
  .nav {
    .nav-item {
      position: relative;
      font-size: 1.2rem;
      color: $grey;
      cursor: pointer;
      &.active {
        color: #000;
        font-weight: 600;
      }
      &:after {
        content: '';
        position: absolute;
        background: $orange;
        height: 2px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}
// Home
.home {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  .content {
    flex: 0 0 50%;
    .title {
      padding: 2rem 0 0 0;
      font-size: 3rem;
      line-height: 1.5;
      span {
        white-space: nowrap;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 3px;
          height: 3px;
          width: 100%;
          background: $orange;
          z-index: -1;
        }
      }
    }
    .subtitle {
      color: #999;
      font-weight: 400;
      line-height: 1.5;
      margin: 2rem 0 3rem 0;
    }
  }
  .preview {
    flex: 0 0 50%;
    text-align: center;
    .card {
    }
  }
}
